/* Styles for the main heading of the gig */
.gig-heading {
  font-size: 80px;
  font-weight: bold;
  color: #010109;
  margin-bottom: 10px;
  text-align: center;
}

/* Styles for the image of the gig */
.gig-image {
  display: block;
  max-width: 80%;
  height: 100;
  margin: 0 auto 20px auto;
  border-radius: 8px;

}

/* Styles for the description paragraph */
.gig-description {
  font-size: 20px;
  font-weight: bold;
  color: #3068bb;
  margin-bottom: 12px;
  text-align: center;
}

/* Styles for the time of the gig */
.gig-date-time {
  font-size: 16px;
  font-weight: bold;
  color: #0c0a0a;
  margin-bottom: 2px;
  text-align: center;
}

/* Styles for the venue information */
.gig-location {
  font-size: 12px;
  font-weight: bold;
  color: #0d0707;
  text-align: center;}

  /* Styles for the fave button */

  .gig-favorite-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 54px;
    color: rgb(252, 250, 250);
  }
  /* Styles for the heart icon */
.gig-favorite-button .fas.fa-heart {
  text-shadow: 2px 2px 0 #000, 
               -2px -2px 0 #000, 
               -2px 2px 0 #000, 
               2px -2px 0 #000, 
               0 2px 0 #000, 
               0 -2px 0 #000, 
               -2px 0 0 #000, 
               2px 0 0 #000; /* Black outline */
}


  /* Hover effect for the button */
  .gig-favorite-button:hover {
    color: #cf6d94;
  }
  
  .gig-favorite-button.favorited {
    color: rgb(208, 12, 87);
  }